/* Task_1 */
<h2 style="color: red;">CatPhotoApp</h2>

/* Task_2 */
<style>
  h2 {
    color: blue;
  }
</style>
<h2>CatPhotoApp</h2>

/* Task_3 ==> Use a CSS Class to Style an Element */
<style>
  .red-text {
    color: red;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>
<main>
  <p>Click here to view more <a href="#">cat photos</a>.</p>

/* Task_4 ==> Style Multiple Elements with a CSS Class */
<style>
  .red-text {
    color: red;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>
<main>
  <p class="red-text">Click here to view more <a href="#">cat photos</a>.</p>

/* Task_5 ==> Change the Font Size of an Element */
<style>
  .red-text {
    color: red;
  }
  p {
    font-size: 16px;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>
<main>
<p class="red-text">Click here to view more <a href="#">cat photos</a>.</p>

/* Task_6 ==> Set the Font Family of an Element */
<style>
  .red-text {
    color: red;
  }

  p {
    font-size: 16px;
    font-family: monospace;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>
<main>
  <p class="red-text">Click here to view more <a href="#">cat photos</a>.</p>

/* Task_7 ==>  */


/* Task_8 ==>  */


/* Task_9 ==> Size Your Images */

<style>
  .smaller-image {
    width: 100px;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>
<main>
  <p class="red-text">Click here to view more <a href="#">cat photos</a>.</p>

  <a href="#"><img src="https://cdn.freecodecamp.org/curriculum/cat-photo-app/relaxing-cat.jpg" alt="A cute orange cat lying on its back." class="smaller-image"></a>


/* Task_10 ==> Add Borders Around Your Elements */ 

<style>
.thick-green-border {
  border-color: green;
  border-width: 10px;
  border-style: solid;
}
</style>

<a href="#"><img class="smaller-image thick-green-border" src="https://cdn.freecodecamp.org/curriculum/cat-photo-app/relaxing-cat.jpg" alt="A cute orange cat lying on its back."></a>


/* Task_11 ==> Add Rounded Corners with border-radius */

<style>
.smaller-image {
  width: 100px;
  border-radius: 10px;
}
</style>

/* Task_12 ==> Make Circular Images with a border-radius */

<style>
.thick-green-border {
  border-color: green;
  border-width: 10px;
  border-style: solid;
  border-radius: 50%;
}
</style>

/* Task_13 ==> Give a Background Color to a div Element */

<style>
.silver-background {
  background-color: silver;
}
</style>

<div class="silver-background">
    <p>Things cats love:</p>
    <ul>
      <li>cat nip</li>
      <li>laser pointers</li>
      <li>lasagna</li>
    </ul>
    <p>Top 3 things cats hate:</p>
    <ol>
      <li>flea treatment</li>
      <li>thunder</li>
      <li>other cats</li>
    </ol>
  </div>

  /* Task_14 ==> Set the id of an Element */

  <form action="https://freecatphotoapp.com/submit-cat-photo" id="cat-photo-form">
    <label><input type="radio" name="indoor-outdoor" checked> Indoor</label>
    <label><input type="radio" name="indoor-outdoor"> Outdoor</label><br>
    <label><input type="checkbox" name="personality" checked> Loving</label>
    <label><input type="checkbox" name="personality"> Lazy</label>
    <label><input type="checkbox" name="personality"> Energetic</label><br>
    <input type="text" placeholder="cat photo URL" required>
    <button type="submit">Submit</button>
  </form>

  /* Task_15 ==> Use an id Attribute to Style an Element */
  
  <style>
  #cat-photo-form {
    background-color: green;
  }
  </style>

/* Task_16 ==> Adjust the Padding of an Element */
<style>
  .injected-text {
    margin-bottom: -25px;
    text-align: center;
  }

  .box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
  }

  .yellow-box {
    background-color: yellow;
    padding: 10px;
  }

  .red-box {
    background-color: crimson;
    color: #fff;
    padding: 20px;
  }

  .blue-box {
    background-color: blue;
    color: #fff;
    padding: 20px;
  }
</style>
<h5 class="injected-text">margin</h5>

/* Task_17 ==> Adjust the Margin of an Element */
<style>
  .injected-text {
    margin-bottom: -25px;
    text-align: center;
  }

  .box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
  }

  .yellow-box {
    background-color: yellow;
    padding: 10px;
  }

  .red-box {
    background-color: crimson;
    color: #fff;
    padding: 20px;
    margin: 20px;
  }

  .blue-box {
    background-color: blue;
    color: #fff;
    padding: 20px;
    margin: 20px;
  }
</style>
<h5 class="injected-text">margin</h5>

<div class="box yellow-box">
  <h5 class="box red-box">padding</h5>
  <h5 class="box blue-box">padding</h5>
</div>

/* Task_18 ==> Add a Negative Margin to an Element */
.blue-box {
  background-color: blue;
  color: #fff;
  padding: 20px;
  margin: -15px;
}

/* Task_19 ==> Add Different Padding to Each Side of an Element */
.blue-box {
  background-color: blue;
  color: #fff;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
}

/* Task_20 ==> Add Different Margins to Each Side of an Element */ 
.blue-box {
  background-color: blue;
  color: #fff;
  margin-top: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
}

/* Task_21 ==> Use Clockwise Notation to Specify the Margin of an Element */ 
blue-box {
  background-color: blue;
  color: #fff;
  padding: 40px 20px 20px 40px;
}

/* Task_22 ==> Use Clockwise Notation to Specify the Margin of an Element */ 
.blue-box {
  background-color: blue;
  color: #fff;
  margin: 40px 20px 20px 40px;
}

/* Task_23 ==>  */ 
